#masthead{
	
	/*background-color:#009688;*/
	background-color: #044f67;
	color: #003171;

}

#banner{

	color:#ffffff;
}

.navbar-default{
	background-color:transparent; 
	border-color:transparent;

}

.navbar-nav{
	color:#ffffff;
}

.navbar-default .navbar-header .navbar-toggle{
	background-color: #044f67;
	color:#ffffff;
	border: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}


#right-nav a{
	color:#ff1d45;
}

.navbar-default .navbar-nav > li > a {
	color:#ffffff;
}



html {
  position: relative;
  min-height: 100%;
  font-weight: 300;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
    min-height: 60px;

  background-color: #f5f5f5;
}

.footer ul{
	margin-top: 10px;
	list-style: none;
	/*display: inline;*/
	

}

.footer ul li {
	  width: auto;
	  margin: 0 10px;
	  padding: 0;
	  float: none;
	  
	  clear: both;
	  display: inline-block;
	}
.footer ul li a{
	text-decoration: none;
	color: #212121;
}
#footerRights{
	margin-top: 5px;
	background-color: #044f67;
}

#footerRights p{
	text-align: center;
	color: #ffffff;
	text-decoration: none;

}

#footerRights p a {
	color: #ffffff;
}

#footerLogo{
	text-align: center;
	/*display: inline;*/
}

.carousel{
	position: relative;
	margin-bottom: 60px;
	/*height: 425px;*/
}

.carousel-inner{
	overflow: hidden;
	position: relative;
	width: 100;

}

.carousel-inner > .item > img {
  
	width: 100%;
	/*height: 500px;*/

}

.carousel-caption{
	position: absolute;
	bottom: 18px;
	left: 18px;
	background-color: #ffffff;
	opacity: .9;
	color: black;
	text-shadow:none;
	width: 425px;
}

#badge {
  display: inline-block;
  /*margin-top:  .3em;*/
  /*padding: 8px 13px;*/
  border-radius: 4px;
  background-color: #fbfbf9;
  color: #565347;
  /* font-size: 1.07143em; */
}


.postcard-left>div{
	display: table-cell;
	position: relative;
}

.postcard-left .event-date{
	vertical-align: 30px;
	width: 30px;
	padding-right:15px;
}


.lead {
  font-size: 1.13em;
  line-height: 1.7;
  color: #212121;
  text-align: justify;
  font-weight: 300;

}


/*.full {
  background: url(/img3.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/




.img-container{
    height:100%;
    /*max-height:200px;*/
    width: 100%;
    max-width: 100%;
}



a{
	text-decoration: none;
}

.sidenav >li{
	list-style: none;
	line-height: 1.8;

}


.top{
	
	top:0;
}
@media (min-width: 767px) and (max-width: 1700px){
	.sidenav{
	position: fixed;
	

}

nav a:hover,
nav a:focus {
  color: #ffffff;
  text-decoration: underline;
}



